:root {
	--accent-color: #2196f3;
	--primary-black: #212121;
	--primary-grey: #757575;
	--white: #ffffff;
	--background-black: #2f303a;
	--background-grey: #f5f4fa;
}
body {
	font-family: roboto, sans-serif;
	color: var(--primary-grey);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
	padding-inline-start: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.centered {
	margin-left: auto;
	margin-right: auto;
}
.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header-section > .container {
	background-color: var(--white);
	display: flex;
	align-items: center;
}
.header-section {
	border-bottom: 1px solid #ececec;
}
.logo-header {
	font-family: raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: #000000;
	text-decoration: none;
	margin-right: 93px;
}
.main-nav {
	display: flex;
}
.main-nav-item:not(:first-child),
.contacts-header-item:not(:first-child) {
	margin-left: 50px;
}
.contacts-header {
	display: flex;
	margin-left: auto;
}
.web-in-logo {
	color: var(--accent-color);
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.main-nav,
.contacts-header,
.benefits-list,
.what-are-we-doing-list,
.our-team-list,
.address-list,
.sorting-list,
.portfolio-list {
	list-style-type: none;
}
.contacts-header-link,
.main-nav-link {
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.contacts-header-link {
	color: var(--primary-grey);
}
.main-nav-link {
	color: var(--primary-black);
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
}
.main-nav-link:hover,
.main-nav-link:focus,
.contacts-header-link:hover,
.contacts-header-link:focus {
	color: var(--accent-color);
}
.hero {
	background-color: var(--background-black);
	padding-top: 200px;
	padding-bottom: 200px;
}
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--white);

	margin-bottom: 30px;
}
.hero.section {
	padding-top: 200px;
	padding-bottom: 200px;
}
.main-button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--white);

	cursor: pointer;

	background-color: var(--accent-color);
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.benefits-list {
	display: flex;
}
.benefits-list-item {
	max-width: 270px;
}
.benefits-list-item:not(:first-child) {
	margin-left: 30px;
}
.benefits-title {
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
	color: var(--primary-black);
	margin-bottom: 10px;
}
.what-are-we-doing-list {
	display: flex;
}
.what-are-we-doing-item:not(:first-child) {
	margin-left: 30px;
}
.what-are-we-doing-title,
.our-team-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-black);

	margin-bottom: 50px;
}
.what-are-we-doing {
	padding-top: 0;
}
.our-team {
	background-color: var(--background-grey);
}
.our-team-list {
	display: flex;
}
.our-team-item:not(:first-child) {
	margin-left: 30px;
}

.our-team-name {
	font-weight: 500;
	color: var(--primary-black);
	margin-bottom: 10px;
}
.our-team-work-position {
	color: var(--primary-grey);
}
.our-team-div {
	padding-top: 30px;
	padding-bottom: 30px;
}
.our-team-work-position,
.our-team-name {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}
.footer-section {
	background-color: var(--background-black);
	padding-top: 60px;
	padding-bottom: 60px;
}
.logo-footer {
	font-family: raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--white);
	text-decoration: none;
	display: block;
	margin-bottom: 30px;
}

.address-footer {
	text-decoration: none;
	color: var(--white);
	font-style: normal;
}
.contacts-footer {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
}
.address-list-item:not(:first-child) {
	margin-top: 9px;
}
.address-footer:hover,
.address-footer:focus,
.contacts-footer:hover,
.contacts-footer:focus {
	color: var(--accent-color);
}
/* Portfolio  */
.sort-button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-black);

	background-color: var(--background-grey);

	cursor: pointer;
}
.sorting-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.sorting-list-item:not(:first-child) {
	margin-left: 8px;
}
.sort-button:hover,
.sort-button:focus {
	color: var(--white);
	background-color: var(--accent-color);
}
.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	margin-top: -30px;
}
.portfolio-list-item {
	margin-left: 30px;
	margin-top: 30px;
}
.project-name {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-black);
	margin-bottom: 4px;
}
.sort-item {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--primary-grey);
}
.projects-item {
	text-decoration: none;
}

.project-info {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 24px;
	padding-right: 24px;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.mail-icon {
	height: 12px;
	width: 16px;
}
.mail-icon > use {
	height: 12px;
	width: 16px;
	fill: red;
	display: inline-flex;
}
